body{
    font-family:"Sono", sans-serif;
}

.pricing-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    height:100vh;
    align-items:center;
}

.pricing-plan{
    background-color:lightgrey;
    border-radius:5px;
    width:400px;
    height:300px;
    margin:20px;
}
.plan-title{
    font-size:25px;
    font-weight:bold;
    margin:10px;
}
.plan-price{
    font-size:40px;
    font-weight:bold;
}
.plan-features{
    list-style-type:none;
    font-size:20px;
}
.plan-button{
    background-color: orange;
    font-size:15px;
    font-weight:lighter;
    text-align:center;
    border: none;
    border-radius:5px;
    width:75px;
    height:30px;
}
@media(max-width:1350px){
    .pricing-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    
}